<div class="row">
  <div class="col-md-12">
    <h1>Mantenedor de Usuarios</h1>
    <div class="btn-group btn-group-sm" role="group" aria-label="group">
      <button (click)='nuevo()' class="btn btn-success">Nuevo</button>
    </div>
  </div>
  <div class="col-md-12" *ngIf='lista'>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">login</th>
          <th scope="col">nombre</th>
          <th scope="col">tipo</th>
          <th scope="col">imagen</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of lista'>
          <th scope="row">{{item.user.login}}</th>
          <td>{{item.user.nombrecompleto}}</td>
          <td>{{item.tipousuario.nombre}}</td>
          <td>{{item.user.rutaimagen}}</td>
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="group">
              <button (click)='verdetalle(item.user.idusuario)' class='btn btn-success'>Editar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-user-detail *ngIf="idusuario" [idusuario]="idusuario" (operationComplete)="reloadList($event)"></app-user-detail>